@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.212);
}

@layer components {
  ::-webkit-scrollbar-thumb{
    @apply bg-primary;
  }

  h2{
    @apply text-5xl font-bold text-gray-700 py-6;
  }

  h3{
    @apply text-3xl font-bold text-gray-700 py-6;
  }

  p {
    @apply text-gray-900 text-xl py-2 transition duration-500 ease-in-out;
  }

  a{
    @apply transition duration-500 ease-in-out;
  }

  a:hover p{
    @apply text-primary transition duration-500 ease-in-out;
  }
  
  a:hover {
    @apply text-primary transition duration-500 ease-in-out;
  }

  li{
    @apply text-gray-900 text-xl py-2 list-disc list-inside;
  }
}

/* responsivo */
@media (max-width: 768px) {
  h2{
    @apply text-3xl;
  }
  
  p {
    @apply text-lg;
  }
}